*{
    margin: 0;
    /* border: 1px solid red; */
}




.header-A{
    display: flex;
    justify-content: space-between;
}

.header-B{
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.header-C{
    display: flex;
    gap: 15px;
}

.header-D{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-right: 150px;
}

.main-A h1{
    /* margin-left: 100px; */
    width: 50%;
    font-size: 40px;
}

.main-A{
    /* width: 50%; */
    margin-left: 100px;
    margin-top: 60px;
}

.main-A p{
    width: 30%;
    margin-top: 20px;
}

.content-B{
    margin-left: 100px;
    margin-top: -19px;
}

.content-B p{
    width: 30%;
    margin-top: 10px;
}

.content-B h2{
    margin-top:50px;
    font-size: 18px;
}

.content-C{
    margin-top: -20px;
}

.content-D{
    border: 1px solid black;
    margin-bottom: 100px;
    padding: 50px 50px;
    width: 95%;
    margin-left:-80px ;
    background-color: #E9FBF2;
    display: flex;
}

/* .content-D p{
    border: 1px solid black;
    padding: inherit;
    box-shadow:5px 5px 0px 0px #de1d37;
} */

.D-1{
    margin-left: 30px;
    width: 100%;
}

.D-1 h1{
    width: 50%;
    font-size: 25px;
    margin-bottom: 25px;
}

.D-1 P{
    color: #A1A7A3;
    font-size: 15px;
    width: 50%;
}

.D-1 h3{
    font-size: medium;

}

.D-2{
    margin-top: 20px;
}


.a{
    border: 1px solid black;
    /* width: 100%; */
    margin-right: 130PX;
    /* display: flex; */
    background-color: white;
    padding: 50px 30px;
    box-shadow:10px 10px 0px 0px black;
}

.b img{
    width: 47%;
    /* margin-left: 30px; */
    align-content: center;
}
.b{
    display: flex;
    /* gap: 0px; */
}

.b p{
    /* margin-left: 50px; */
    font-size: small;
    width: 100%;
}

.b h3{
    /* margin-left: 100px; */
    font-size: medium;
}

.c img{
    width: 40%;
    /* margin-left: 30px; */
}
.c{
    display: flex;
    /* gap: 0px; */
    margin-top: 40px;
}

.c p{
    /* margin-left: 50px; */
    font-size: 17px;
    width: 100%;
}


.d img{
    width: 50%;
    /* margin-left: 30px; */
}
.d{
    display: flex;
    /* gap: 0px; */
    margin-top: 40px;
}

.d p{
    /* margin-left: 50px; */
    font-size: small;
    margin-left: 10px;
    width: 100%;
}


